
* { margin: 0; padding: 0;}

body { margin: 0; padding: 0; min-width: 320px; font-family: 'OpenSans', 'Helvetica', 'Arial', sans-serif;}

/* Header */

.header {
  position: relative;

  background-color: #0a0e34;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(10, 14, 52, 0.9);
}

.header_wrapper {
  position: relative;
  z-index: 2;

  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 1532px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  fill: #ffffff;
}

.logo:hover {
  opacity: 0.8;
}

.header_text {
  font-size: 4vw;
  text-align: left;
  line-height: 1.4;
  text-transform: uppercase;
  text-decoration: none;

  margin-left: auto;
  margin-right: auto;
}


.headline_right {
  display: block;
  width: 80%;
  margin-left: auto;
}

.button {
  display: block;
  background-color: #5e42b0;
  border-radius: 38px;

  color: inherit;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  line-height: 1.4;
  text-transform: uppercase;
}

.button:hover {
  background-color: #563aa8;
}

.button_text {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.market {
  font-weight: bold;
}

.button_icon {
  float: left;
  fill: #ffffff;
}


/* Section sports */

.section_athlets {
  position: relative;
}

.section_headline {
  color: #e7e7e7;
  line-height: 1.4;
  text-transform: uppercase;
}

.numbered_headline { /* нумерованные заголовки */
  font-weight: bold;
  position: relative;
  display: inline-block;
  vertical-align: top;

  color: black;
}
.numbered_headline::before {
  content: "";
  position: absolute;
  border-radius: 2px;
  left: 0;
  bottom: -5px;

  background-color: rgba(94,66,176, 1);
}

.block_lilac .numbered_headline::before {
  background-color: rgba(255,255,255, 1);
}

.block_night .numbered_headline::before {
  background-color: rgba(255,255,255, 1);
}

.block_night .numbered_headline {
  color: #5e42b0;
}

.block_headline {
  color: #c1c1c1;
  line-height: 1.4;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 10px;
}

.main_text {
  color: #000000;
  text-decoration: none;
  text-align: left;
}

.block_grey {
  background-color: #f5f4f9;
}
.block_lilac {
  background-color: #5e42b0;
}
.block_night {
  background-color: #090c35;
}
.block_night p, .block_lilac p {
  color: white;
}

.section_players {
  position: relative;
}


/* Advices section */

.advices_picture {
  display: block;
  position: relative;
  background-color: #e7e7e7;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.number_first {
  font-weight: bold;
  color: white;
}

.number_first::before {
  content:"";
  position: absolute;
  border-radius: 2px;
  background-color: rgba(255,255,255, .3)
}

.advices_headline {
  color: #e7e7e7;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Footer */
.footer {
  position: relative;

  background-color: #0a0e34;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(10, 14, 52, 0.9);
}

.footer_wrapper {
  position: relative;
  z-index: 2;

  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 1532px;
  margin-left: auto;
  margin-right: auto;
}

.download_wrapper {
  text-align: center;
}

.surface_icon {
  box-sizing: border-box;
  fill: #ffffff;
  background-image: linear-gradient(#50329c, #7751db);
  text-align: center;

  margin-left: auto;
  margin-right: auto;
}

.footer_headline {
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.footer_download_text {
  color: #9b8ec1;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}



@media (max-width: 640px) and (orientation:portrait) {
  .header {
    background-image: url("../images/football_767.jpg");
  }

  .header_text {
    margin-top: 120px;
    margin-bottom: 80px;
  }

  .footer {
    background-image: url("../images/game_767.jpg");
  }

}

@media (max-width: 640px) and (orientation:landscape) {
  .header_text {
    margin-top: 44px;
    margin-bottom: 32px;
  }
}

@media (max-width: 640px) {
  .header {
    background-image: url("../images/football_1280.jpg");
  }

  .header_wrapper {
    padding: 40px 20px 84px;
  }

  .logo {
    width: 133px;
  }

  .header_headline {
    font-size: 28px;
  }

  .button_text {
    width: 120px;
  }

  .button {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 8px;
  }

  .button_icon {
    width: 24px;
    margin-right: 10px;
  }

  .appstore_btn {
    margin-bottom: 16px;
  }

  .main_text {
    font-size: 15px;
    line-height: 1.2;
  }

  .section_headline {
    font-size: 50px;
    margin-top: 16px;
  }

  .numbered_headline { /* нумерованные заголовки до 640px*/
    font-size: 14px;
    padding-top: 4px;
  }
  .numbered_headline::before {
    width: 15px;
    height: 4px;
  }

  .block_headline {
    font-size: 23px;
    letter-spacing: 2px;
    margin-bottom: 16px;
  }

  .footballer, .basketballer {
    display: block;
    text-align: center;
  }

  .block_clear, .block_grey, .block_lilac, .block_night {
    padding: 56px 0px 56px;
  }

  .box_paragraph {
    margin-left: 20px;
    margin-right: 20px;
  }

  .advices_picture {
    width: 100%;
    height: 350px;
  }

  .advices_picture_first {
    background-image: url("../images/be-active_640.jpg");
  }
  .advices_picture_second {
    background-image: url("../images/find-contact_640.jpg");
  }
  .advices_picture_third {
    background-image: url("../images/work-it_640.jpg");
  }

  .advice-badge { /* номер в квадрате для мобилок до 640*/
    position: absolute;
    left: 20px;
    bottom: -12px;
    background-color: #5e42b0;
    text-align: center;
    padding: 26px;
  }

  .number_first { /* 01 квадрат до 640 */
    font-size: 14px;
  }

  .number_first::before { /* 01 квадрат до 640 */
    left: calc(50% - 10px);
    top: calc(50% + 10px);
    width: 18px;
    height: 4px;
  }

  .advices_headline {
    font-size: 28px;
    margin-top: 32px;
    margin-bottom: 16px;
  }

  .advices_paragraph {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 72px;
  }

  .footer {
    background-image: url("../images/game_1280.jpg");
  }

  .footer_wrapper {
    padding: 98px 20px 10px;
  }

  .surface_icon {
    width: 77px;
    height: 77px;
    padding: 10px 7px;
    border-radius: 14px;
    margin-bottom: 54px;
  }

  .download_wrapper {
    margin-bottom: 60px;
  }

  .footer_headline {
    font-size: 32px;
  }

  .footer_download_text {
    font-size: 14px;
  }

  .footer .logo {
    margin-top: 120px;
  }

}

@media (min-width: 641px) {
  .header_buttons {
    display: flex;
    width: 100%;
  }

  .button_text {
    width: 212px;
  }

  .button {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 14px;

    flex-basis: 260px;
    flex-grow: 1;
    max-width: 310px;
  }

  .button_icon {
    width: 40px;
    margin-right: 24px;
  }

  .appstore_btn {
    margin-left: auto;
  }

  .play_btn {
    margin-right: auto;
  }

  .numbered_headline { /* нумерованные заголовки от 641px*/
    font-size: 18px;
    padding-top: 8px;
  }
  .numbered_headline::before {
    width: 21px;
    height: 5px;
  }

  .number_first { /* квадрат от до 641 */
      font-size: 24px;
    }

  .number_first::before { /* квадрат от до 641 */
      left: calc(50% - 14px);
      top: calc(50% + 14px);
      width: 26px;
      height: 6px;
    }

    .surface_icon {
      width: 140px;
      height: 140px;
      padding: 18px 12px;
      border-radius: 28px;
      margin-bottom: 68px;
    }

    .footer_headline {
      font-size: 80px;
    }

}

@media (min-width: 641px) and (max-width: 960px) {
  .header {
    background-image: url("../images/football_1280.jpg");
  }

  .header_wrapper {
    padding: 40px 60px 92px;
  }

  .logo {
    width: 205px;
  }

  .header_text {
    margin-top: 220px;
    margin-bottom: 180px;
  }

  .header_headline {
    font-size: 64px;
  }

  .appstore_btn {
    margin-right: 30px;
  }

  .main_text {
    font-size: 16px;
    line-height: 1.75;
  }

  .block_headline {
    font-size: 32px;
    letter-spacing: 4px;
    margin-bottom: 16px;
  }

  .section_headline {
    font-size: 80px;
    margin-top: 72px;
    margin-bottom: 10px;
  }

  .block_clear, .block_grey, .block_lilac, .block_night {
    padding: 34px 0px 34px;
  }

  .section_athlets  .box_paragraph {
    width: 60%;
    margin-left: auto;
    margin-right: 33px;
  }

  .footballer {
    position: absolute;
    top: 0;
    right: 58vw;
  }

  .section_players  .box_paragraph {
    width: 60%;
    margin-left: 33px;
    margin-right: auto;
  }

  .basketballer {
    position: absolute;
    top: -30px;
    right: 0;
  }

  .advices_picture {
    width: 100%;
    height: 584px;
  }

  .advices_picture_first {
    background-image: url("../images/be-active_960.jpg");
  }
  .advices_picture_second {
    background-image: url("../images/find-contact_960.jpg");
  }
  .advices_picture_third {
    background-image: url("../images/work-it_960.jpg");
  }

  .advice-badge {
    position: absolute;
    left: 20px;
    bottom: -12px;
    background-color: #5e42b0;
    text-align: center;
    padding: 66px;
  }

  .advices_headline {
    font-size: 80px;
    margin-top: 72px;
    margin-bottom: 22px;
  }

  .advices_paragraph {
    margin-left: 32px;
    margin-right: 32px;
    padding-bottom: 92px;
  }

  .footer {
    background-image: url("../images/game_1280.jpg");
  }

  .footer_wrapper {
    padding: 126px 32px 20px;
  }

  .download_wrapper {
    margin-bottom: 80px;
  }

  .footer .logo {
    margin-top: 180px;
  }

  .footer_download_text {
    font-size: 36px;
  }

}

@media (min-width: 961px) {
  .header {
    background-image: url("../images/football_1920.jpg");
  }

  .header_wrapper {
    padding: 45px 120px 110px;
  }

  .logo {
    width: 191px;
  }

  .header_text {
    margin-top: 280px;
    margin-bottom: 240px;
  }

  .header_headline {
    font-size: 90px;
  }

  .appstore_btn {
    margin-right: 50px;
  }

  .main_text {
    font-size: 20px;
    line-height: 1.4;
  }

  .block_headline {
    font-size: 36px;
    letter-spacing: 4px;
    margin-bottom: 20px;
  }

  .section_headline {
    font-size: 80px;
    margin-top: 100px;
    margin-bottom: 16px;
  }

  .block_clear, .block_grey, .block_lilac, .block_night {
    padding: 50px 0px 52px;
  }

  .section_athlets .box_paragraph {
    width: calc(50% - 25px);
    max-width: 716px;
    margin-left: calc(50% - 25px);
    margin-right: auto;
  }

  .section_players .box_paragraph {
    width: calc(50% - 25px);
    max-width: 716px;
    margin-right: calc(50% - 25px);
    margin-left: auto;
  }

  .footballer {
    position: absolute;
    top: 0;
    right: 58vw;
  }

  .basketballer {
    position: absolute;
    bottom: 0;
    left: 38vw;
  }

  .advices_wrapper {
    display: flex;
    align-items: center;
  }

  .advices_wrapper:nth-child(even) {
    flex-direction: row-reverse;
  }

  .advices_picture {
    width: 50%;
    height: 730px;
  }

  .advices_picture_first {
    background-image: url("../images/be-active_1024.jpg");
  }
  .advices_picture_second {
    background-image: url("../images/find-contact_1024.jpg");
  }
  .advices_picture_third {
    background-image: url("../images/work-it_1024.jpg");
  }

  .advice-badge {
    position: absolute;
    top: calc(50% - 80px);
    background-color: #5e42b0;
    text-align: center;
    padding: 66px;
  }

  .advices_wrapper:nth-child(odd) .advice-badge {
    right: -79px;
  }
  .advices_wrapper:nth-child(even) .advice-badge {
    left: -79px;
  }

  .advices_headline {
    font-size: 80px;
    margin-top: 72px;
    margin-bottom: 96px;
  }

  .advices_paragraph {
    padding-bottom: 72px;
    max-width: 636px;
  }

  .advices_content_wrapper {
    width: 50%;
  }

  .advices_wrapper:nth-child(odd) .advices_paragraph {
    margin-left: 128px;
    margin-right: auto;
    padding-right: 16px;
  }

  .advices_wrapper:nth-child(even) .advices_paragraph {
    margin-right: 128px;
    margin-left: auto;
    padding-left: 16px;
  }

  .footer {
    background-image: url("../images/game_1920.jpg");
  }

  .footer_wrapper {
    padding: 226px 138px 48px;
  }

  .download_text {
    text-align: left;
    margin: auto auto auto 0;
  }

  .download_wrapper {
    display: flex;
    margin-bottom: 100px;
  }

  .surface_icon {
    margin: 0 32px 0 auto;
    flex: none;
  }

  .footer .logo {
    margin-top: 240px;
  }

  .footer_download_text {
    font-size: 30px;
  }

}
