
* { margin: 0; padding: 0;}

body { margin: 0; padding: 0; font-family: 'OpenSans', 'Helvetica', 'Arial', sans-serif;}


.header {
  position: relative;

  background-color: #0a0e34;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(10, 14, 52, 0.9);
}

.header_wrapper {
  position: relative;
  z-index: 2;

  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 1532px;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid #f0f;
}

.logo {
  margin-left: auto;
  margin-right: auto;
}

.header_text {
  text-align: left;
  line-height: 1.4;
  text-transform: uppercase;
  text-decoration: none;
}


.headline_right { /*загвоздочка c заголовком*/
  display: block;

  border: 1px solid red;
}

.button {
  display: block;
  background-color: #5e42b0;
  border-radius: 38px;

  color: inherit;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-size: 8px;
  line-height: 1.4;
  text-transform: uppercase;
}

.button:hover {
  background-color: #5e42b0;
}

.button_text {
  width: 120px; /*перенести в медиа-запросы*/
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.market {
  font-weight: bold;
}

.button_icon {
  width: 24px;
  margin-right: 10px;
  float: left;
}


/*content*/

.section_athlets {
  position: relative;
}

.section_headline {
  color: #e7e7e7;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.block_headline {
  color: #c1c1c1;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 0.8em;
}

.first::before { /* под вопросом*/
  content: "01";
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 4px solid #5e42b0;
  vertical-align: text-top;
}

.main_text p {
  color: #000000;
  font-size: 15px;
  line-height: 1.4;
  text-decoration: none;
  text-align: left;
}

.block_grey {
  background-color: #f5f4f9;
}

.block_lilac {
  background-color: #5e42b0;
  color: white;
}

.block_night {
  background-color: #090c35;
  color: white;
}




/*блок advices*/

.advices_picture_wrapper {
  position: relative;
}

.advices_picture {
  width: 100%;
}

.advice-badge {
  width: 70px;
  height: 70px;
  background-color: #5e42b0;
  position: absolute;
  left: 20px;
  bottom: -12px;
  text-align: center;
  color: white;

  box-sizing: border-box;
  padding-top: 24px;
}
.number_first {
  width: auto;
  height: 4px;
  border-radius: 2px;
  display: inline-block;
  background-color: rgba(255,255,255, .5)
}

.advices_headline {
  color: #e7e7e7;
  font-size: 28px;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 2px;

  margin-top: 32px;
  margin-bottom: 22px;
}

@media (max-width: 640px) and (orientation:portrait) {
  .header {
    background-image: url("../images/football_767.jpg");
  }

  .header_text {
    margin-top: 134px;
    margin-bottom: 86px;
    padding: 0 24px;
  }

}

@media (max-width: 640px) {
  .header {
    background-image: url("../images/football_1280.jpg");
  }

  .header_wrapper {
    padding: 40px 20px 84px;
  }

  .logo {
    width: 133px;
  }

  .header_headline {
    font-size: 28px;
  }

  .headline_right {
    margin-left: 15vw;
  }

  .button {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .appstore_btn {
    margin-bottom: 16px;
  }

  .section_headline {
    font-size: 50px;
  }

  .block_headline {
    font-size: 23px;
    letter-spacing: 2px;
  }

  .box_paragraph {
    padding: 10px 20px 50px;
  }

  .footballer_wrapper {
    height: 310px;
    background-image: url("../images/footballer_192.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

}

@media (min-width: 641px) {
  .header_buttons {
    display: flex;
  }

  .button {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .section_headline {
    font-size: 80px;
  }

}

@media (min-width: 641px) and (max-width: 960px) {
  .header {
    background-image: url("../images/football_1280.jpg");
  }

  .header_wrapper {
    padding: 40px 60px 92px;
  }

  .logo {
    width: 205px;
  }

  .header_text {
    margin-top: 220px;
    margin-bottom: 180px;
  }

  .header_headline {
    font-size: 64px;
  }

  .headline_right {
    margin-left: 17vw;
  }

  .appstore_btn {
    margin-right: 30px;
  }

  .block_headline {
    font-size: 32px;
    letter-spacing: 4px;
  }

  .box_paragraph {
    padding: 72px 33px 38px;
  }

  .footballer_wrapper {
    position: absolute;
    height: 310px;
    background-image: url("../images/footballer_497.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
  }


}

@media (min-width: 961px) {
  .header {
    background-image: url("../images/football_1920.jpg");
  }

  .header_wrapper {
    padding: 45px 120px 110px;
  }

  .logo {
    width: 191px;
  }

  .header_text {
    margin-top: 280px;
    margin-bottom: 240px;
  }

  .header_headline {
    font-size: 90px;
  }

  .headline_right {
    margin-left: 17vw;
  }

  .appstore_btn {
    margin-right: 50px;
  }

  .block_headline {
    font-size: 36px;
    letter-spacing: 4px;
  }

  .box_paragraph {
    padding: 104px 0 52px;
  }

}
